* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: rgb(135, 80, 41);

}

.navbar-brand {
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(135, 80, 41);
}

.navbar h1{
    color: white;
}

body h2 {
    color: blue;
    padding: 10px;
}

p {
    color: black;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    color: yellow;
    transform: scale(1.2); /* increases size by 10% */
}

.nav-item .nav-link {
    margin-right: 100px; /* space to the right of each item */
    margin-left: 50px;
  }
  
  .nav-item:last-child {
    margin-right: 0; /* remove the margin from the last item */
  }

  .carousel-text {
    color: black;
  }

